* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: #062e31;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/background-photo.jpg");
  background-color: #062e31;
  background-size: cover;
  background-position: left;
}
/*Navbar*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: large;
  background-color: black;
}
.logo {
  color: rgb(240, 248, 255);
  font-size: 40px;
  letter-spacing: 3px;
  cursor: pointer;
  padding-left: 15px;
}
span {
  color: rgb(95, 3, 3);
}
nav ul li {
  display: inline-block;
  padding: 10px 30px;
}
nav ul li a {
  color: rgb(240, 248, 255);
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: rgb(95, 3, 3);
  transition: 0.5s;
  background-color: #062e31;
  box-shadow: 0 0 10px #062e31;
}
.btn {
  color: rgb(240, 248, 255);
  background-color: rgb(95, 3, 3);
  font-weight: bold;
  padding: 10px 30px;
  border: 2px solid transparent;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  margin-right: 10px;
}
.btn:hover {
  transform: scale(1.2);
}
.home {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: rgb(240, 248, 255);
  font-size: 60px;
  margin: 25px 0px 25px;
  text-transform: capitalize;
}

h3 {
  color: rgb(240, 248, 255);
  font-size: 30px;
}
.img {
  background-size: contain;
}
. {
  background-image: url("../images/about-me-background.jpg");
  height: 100vh;
  width: 100%;
}
